<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoMVC</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<!-- todo. app. view -->
	<section class="todoapp">
		<header class="header">
			<h1>todos</h1>
			<input class="new-todo" type="text" placeholder="What needs to be done?" autofocus="autofocus">
		</header>
		<section class="main">
			<input class="toggle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<ul class="todo-list"></ul>
		</section>
		<footer class="footer"></footer>
	</section>	
	
	<a href="https://github.com/tastejs/todomvc/tree/gh-pages/examples/backbone">Reference Webite</a>

	<!-- item template used to render view -->
	<script id="item-template" type="text/template">
		<div class="view">
			<input class="toggle" type="checkbox" <%= completed ? "checked" : "" %> >
			<label><%= title %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" type="text" value="<%= title %>">
	</script>
	
	<!-- stats template used to render view -->
	<script id="stats-template" type="text/template">
		<span class="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? "item" : "items" %> left</span>
		<ul class="filters">
			<li><a class="selected" href="#/">All</a></li>
			<li><a href="#/active">Active</a></li>
			<li><a href="#/completed">Completed</a></li>
		</ul>
		<% if(completed){ %>
			<button class="clear-completed">Clear completed(<%= completed %>)</button>
		<% } %>		
	</script>

	<!-- load js file required -->
	<script src="js/lib/jquery-3.2.1.js"></script>
	<script src="js/lib/underscore.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/lib/backbone.localStorage.js"></script>
	<script src="js/models/todo.js"></script>
	<script src="js/collections/todos.js"></script>
	<script src="js/views/app-view.js"></script>
	<script src="js/views/todo-view.js"></script>
	<script src="js/routers/router.js"></script>
	<script src="js/app.js"></script>
</body>
</html>